*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4169e1; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b4697; 
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}


